body {
	background-color:#CDCDCD;
}

h1 {
	text-align: center;
	color: blue;
}

footer {
	font-size: 25px;
	text-align: center;
	font-family: Lucida Console;
}

header {
	background-color: white;
	color: gray;
	font-family: Verdana;
}

ol {
	list-style-type: decimal;
	text-align: center;
	font-size: 35px;
	font-family: Verdana;
}

p {
	font-size: 20px;
	text-align: center;
	font-family: Verdana;
	color: #6E6E6E;
}

h2 {
	font-size: 35px;
	font-family: Verdana;
	color: gray;
}

a {
	color: #00AAE4;
	font-size: 30px;
}
